<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <body>
   <main>
     <p id="notice"><%= notice %></p>
        <div class="container px-5 px-sm-0">
          <!--< % if @book.errors.any? %>-->
          <!-- < %= @book.errors.count %>件のエラーが発生しました%>-->
          <!-- < % @book.errors.full_messages.each do |message| %>-->
          <!--  < %= message %>-->
          <!-- < % end %>-->
          <!--< % end %>-->
         <div class="row">
          <div class="col-md-3">
           <%= render "users/list", user:current_user,book:@book %>
          </div>
          <div class="col-md-8 offset-md-1">
           <h2>Books</h2>
           <table class="table table-hover table-inverse">
             <thead>
              <tr>
              <th></th>
              <th>title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
              </tr>
             </thead>
             <tbody>
               <% @books.each do |book| %>
               <td><%= attachment_image_tag book.user,:profile_image,fallback: "no_image.jpg",size: "100x100" %></td>
               <td><%= link_to book.title,book_path(book) %></td>
               <td><%= book.body %></td>
               <% end %>
             </tbody>
           </table>
         </div>
         </div>
        </div>
     </table>
    </main>
  </body>